:root {
    --veryBarkBlue: hsl(233, 47%, 7%);
    --darkDesaturatedBlue: hsl(244, 38%, 16%);
    --softViolet: hsla(277, 71%, 43%, 0.56);
    --violet: hsl(277, 64%, 61%);
    --blanco: hsl(0, 0%, 100%);
    --slightlyMain: hsla(0, 0%, 100%, 0.749);
    --slinghttlyHedings: hsla(0, 0%, 100%, 0.6);

    --fuenteHeading: 'Inter', sans-serif;
    --fuenteParrafo: 'Lexend Deca', sans-serif;;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::after *::before {
    box-sizing: inherit;
}
body {
    font-size: 1.3rem;
}

/* Globales */
img {
    width: 100%;
    height: auto;
    display: block;
}
h1 {
    font-size: 2rem;
}
p {
    line-height: 2rem;
}
.contenedor {
    width: min(85%, 100rem);
    background-color: var(--darkDesaturatedBlue);
    border-radius: .5rem;
    margin: 4rem 0;
}
@media (min-width: 768px) {
    .contenedor {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        max-height: 35rem;
        overflow: hidden;
    }
}
@media (min-width: 376px) {
    .contenedor {
        width: 70%;
    }
}
.contenedor-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--veryBarkBlue);
    height: 140vh;
}
@media (min-width: 768px) {
    .contenedor-flex {
        height: 100vh;
    }
}
/* Utilidades */
.centar-texto {
    text-align: center;
}

/* Imagen del Encabezado */
.imagen {
    position: relative;
}
.bg {
    z-index: 1;
    position: absolute;
    background-color: var(--softViolet);
    border-radius: .5rem .5rem 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

@media (min-width: 768px) {
    .imagen {
        grid-column: 2 / 3;
    }
}

.imagen-header {
    border-radius: .5rem .5rem 0 0;
    filter: contrast(150%);
    height: 100%;
}
@media (min-width: 768px) {
    .imagen-header {
        border-radius: 0 .5rem .5rem 0;
    }
    .bg {
        border-radius: 0 .5rem .5rem 0;
    }
}

/* Contenido */
.contenido {
    padding: 0 3rem;
    margin-top: 3rem;
}
@media (min-width: 768px) {
    .contenido {
        padding: 0 11rem 0 5rem;
    }
}
@media (min-width: 376px) {
    .contenido {
        padding: 0 5rem;
        margin-bottom: 4rem;
    }
}
.contenido__titulo {
    font-family: var(--fuenteHeading);
    color: var(--blanco);
}
@media (min-width: 768px) {
    .contenido__titulo {
        font-size: 2.95rem;
        text-align: left;
    }
}
@media (min-width: 376px) {
    .contenido__titulo {
        font-size: 2.95rem;
    }
}
.contenido__titulo--color {
    color: var(--violet)
}
.contenido__parrafo {
    color: var(--slinghttlyHedings);
    font-family: var(--fuenteParrafo);
    font-weight: normal;
}
@media (min-width: 768px) {
    .contenido__parrafo {
        text-align: left;
    }
}
/* Informacion */
.informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .informacion {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5rem;
        align-items: center;
    }
}

.informacion__centrar {
    text-align: center;
    margin: 1rem;
}
@media (min-width: 376px) {
    .informacion__centrar {
        text-align: left;
    }
}
.informacion__texto {
    margin: 0;
    text-transform: uppercase;
    color: var(--slinghttlyHedings);
    font-family: var(--fuenteParrafo);
}
.informacion__texto--color {
    color: var(--blanco);
    font-family: var(--fuenteHeading);
    font-weight: bold;
    font-size: 1.9rem;
    margin-bottom: .5rem;
    text-transform: none;
}
@media (min-width: 376px) {
    .informacion__texto--color {
        font-size: 2.5rem;
    }
}
.informacion__texto--tamaño {
    font-size: 1rem;
}